<div class="container">
  <div class="container text-center" style="margin: 30px">
    <h3>Sistema de Inventarios</h3>
  </div>

  <table class="table-hover table-striped table align-middle">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Descripcion del Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Existencias</th>
      </tr>
    </thead>
    <tbody>
      @for (producto of []; track producto) {
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
        </tr>
      }
    </tbody>
  </table>
</div>
